@import '~bootstrap/scss/bootstrap';

@import "~@fontsource/roboto/index.css";

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #060606;
    color: #ffffff;
}

.row>* {
    padding: 0;
}

// utilities
.btn_blue {
    background-color: #4154fe;
    color: white;
    border-radius: 50px;
}

.btn_red {
    background-color: red;
    color: white;
    border-radius: 50px;
}

.btn_black {
    background-color: black;
    color: white;
    border-color: gray;
    border-radius: 50px;
    margin-left: 10px;
}

.w_200 {
    width: 200px;
}

.p_100 {
    padding: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.p_90 {
    padding: 90px 20px;
}

.ml-30 {
    margin-left: 30px;
}

.red {
    color: red;
}

.blue {
    color: #4154fe;
}

.black {
    color: black;
}

.gray {
    color: rgb(165, 163, 163);
}

.yellow {
    color: yellow;
}

.white {
    background-color: white;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.small {
    font-size: small;
}

.x_small {
    font-size: x-small;
}

.pb_20 {
    padding-bottom: 20px;
}

.w_35 {
    width: 35%;
}